.main{
  font-size: 1.25em;
  font-family: "inconsolata", sans-serif;
  margin-top: 30px;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.option{
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


button{
  width: 100px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 300px;
}

#start{
  background: linear-gradient(to right, aqua, aquamarine);
}

#stop{
  background: linear-gradient(to right, red, rgb(240,128,128))
}

.outputbox{
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#erkanntertext{
  font-weight: 800;
  padding: 10px;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 300px;
}


.outputtext{
  user-select: none;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  border: 2px solid rgb(159, 247, 218);
  border-radius: 300px;
  padding: 30px
}